<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Vision Demos</h1>
    <!-- <button onclick="changeRoute()">route</button>  -->
    <form action="/videos/" method="post">
        <button name="forwardBtn" type="submit">gender</button>
    </form>
    <form action="/videos1/" method="post">
      <button name="forwardBtn" type="submit">drowsy</button>
    </form>
    <form action="/videos2/" method="post">
      <button name="forwardBtn" type="submit">object_detection</button>
    </form>
    <form action="/videos3/" method="post">
      <button name="forwardBtn" type="submit">headpose</button>
    </form>
    <!-- <img src=" http://0.0.0.0:5000/videocam1"> -->
    <br><!-- 

    <br> -->

<!-- 
    <img src=" http://0.0.0.0:5000/videocam2"> -->

  </body>
</html>
